

:root {
    --bg: #0b0b0b;          
    --primary: #0ff;         
    --secondary: #f0f;       
    --accent: #ff3c00;        
    --text-main: #ffffff;     
    --text-sub: #aaa;      
}
*{
    margin: 0;
    padding: 0;
    background: var(--bg);
    box-sizing: border-box;
    color : white;
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.experience-container {
  display: flex;
  flex-wrap: wrap; 
  max-width: 900px;
  margin: 0 auto;
  gap: 20px; 
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.footer
{
    max-width: 600px;
    height: 10px;
 
    margin: 3rem auto;
    
}

.experience-column {
  flex: 1; 
  min-width: 300px; 
}


.experience-section h3 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}

.experience-section ul {
    text-align: left;
  list-style-type: disc;
  padding-left: 20px;
}

.experience-section ul li {
  margin-bottom: 8px;
}

.experience-section p {
  margin-bottom: 10px;
  color: var(--text-sub);
  
}
.game-container {
  position: relative;
  width: 100%;         
  max-width: 960px;   
  margin: 0 auto;      
  aspect-ratio: 16 / 9; 
  overflow: hidden;
}
.aboutme
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;

}
.aboutme img {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.aboutme p {
  margin-bottom: 1em; 
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  color: white;
}

.aboutme strong {
  font-weight: bold; 
}
.game-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.container
{
    max-width: 1140px;
    margin: 0 auto;

}

.menu
{
    display: flex;

}

#navbar
{
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.5s;
     z-index: 1; 
}
nav * {
    background: var(--bg) ;   
 
   



}
nav  
{
    background: var(--bg) ;   
    transition: 0.5s;
        border-bottom: 5px solid var(--primary);
}


.menu li
{
  
    list-style: none;
    
    
}




.menu li a
{

    background: none;
    color: var(--text-main);
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

.menu li a:hover
{
    background: var(--primary);
}


.nav-con
{

        justify-content: space-between;
        height: 60px;
        display: flex;
        align-items: center;
}

.logo
{

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-main);
}

.btn
{
    border: 2px solid var(--primary);
    color: var(--text-main);
    text-decoration: none;
    background-color: var(--bg);
    padding: 10px;
    transition: 0.3s;
 

}
.box-btn
{
    margin-bottom : 1.5rem;
}
.btn:hover
{
      border: 2px solid var(--secondary);
    color: var(--text-main);
    text-decoration: none;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 10px;

}
.coding
{
      max-width: 640px; 
   
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
}
.content
{
 display: inline-block;
  flex: 1; /* ให้เท่ากับพื้นที่ที่ต้องการ */
  max-width: 60%; /* ถ้าต้องการจำกัดความกว้าง */
  padding: 1rem 1rem;
  vertical-align: middle;
  text-align: justify;

  
}

.explanntion
{
    margin-bottom: 3rem;
    max-width: 1000px;
}
.game
{
      margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start; /* ชิดบน */
    gap: 50px; /* ระยะระหว่างคอลัมน์ */
    max-width: 900px;

}
.machanic
{
  display: flex;
   align-items:center;
   gap: 10px;
}
  .machanic img
{
display: block;
  width: 30vw;
  margin-right: ;
             /* กว้าง 100% ของความกว้างหน้าจอ */
}
.game.reverse {
    flex-direction: row-reverse;
}

#footer
{
  display: block;
}

@media screen and (max-width : 434px) {
    .content
{
 display: block;
 width: 100%;
}
    .nav-con
    {
        padding: 3rem 0;
        height: auto;
        flex-direction: column;

    }
    .logo
    {
        margin-bottom: 1.5rem;
    }
    .menu
    {
        flex-direction: column;
        width: 100%;
        align-items:  center;

    }
    .menu li
    {

        width: 100%;
        text-align: center;
        padding: 20px;
    }   

    .menu li:hover
    {
        background: var(--primary) ; 
    }
 
    .menu li a:hover
    {
        background: none;
    }
   .game, .game.reverse {
    flex-direction: column; 
    align-items: center;   
  }

  .game .content, .game.reverse .content {
    width: 100%;      
    margin-left: 0;   
    text-align: center; 
  }

  .game .content img, .game.reverse .content img {
    margin: 0 auto 30px auto; 
  }
 #footer {
    display: none;
  }
  .aboutme {
    flex-direction: column;
    text-align: center;
  }

  .aboutme img {
    width: 60%;
    margin: 0 auto;
  }

  .machanic
{
display: block;
  width: 100vw;           /* กว้าง 100% ของความกว้างหน้าจอ */
}
  .machanic img
{
display: block;
  width: 90vw;           /* กว้าง 100% ของความกว้างหน้าจอ */
}
 
}



.popup {
    position: relative;     
    transform: translateY(20px); 
    opacity: 0;              
    
    animation: headPop 1s ease-out forwards;
}

.popup-2 {
    position: relative;     
    transform: translateY(10px); 
    opacity: 0;              
    
    animation: headPop 1.5s ease-out forwards;
}


@keyframes headPop {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-hr {
    height: 1px;
    border: none;
    background: var(--primary);

    transform: scaleX(0);
    transform-origin: left;

    animation: fillHr 2s forwards;
}

@keyframes fillHr {
    to { transform: scaleX(1); }
}


/* Test */
/* ===================== */
/*  GRID LAYOUT          */
/* ===================== */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.projects-grid, a {
  text-decoration: none;
}
.projects-grid :hover * {
  text-decoration: none;
  color : var(--primary);
   animation: shake 0.35s linear;
}

@keyframes shake {
  0% { transform: translateX(0); }
  33% { transform: translateX(-3px); }
  66% { transform: translateX(3px); }
  100% { transform: translateX(0); }
}



/* ===================== */
/*  CARD                 */
/* ===================== */

.project-card {
    background: none;
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    border:  var(--primary);

    
}



/* รูปด้านบน */
.project-img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
      object-position: center;
}

/* เนื้อหา */
.project-content {
    padding: 15px;
}

.project-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.role {
    margin: 3px 0 10px;
    opacity: 0.7;
    font-size: 14px;
}



.desc {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0.9;
}



